body {
    font-family: Arial, sans-serif;
    background-color: #af3c3c;
}

.container {
    background-color: #8f8686;
    border: 6px solid #634f4f;
    border-radius: 30%;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
}